@CHARSET "UTF-8";
.leftTopButton,.topLogo{
  background-repeat: no-repeat;
  box-shadow: none;
  float: left;
  background-color: transparent;
}
.leftTopButton{
  background-image: url('../images/buttonMenuTop.png');

}

.topLogo{
  background-image: url('../images/ewaiterLogo.png');
}

/*Кнопки левого меню*/
.menuRest{
  background-image: url('http://ewaiter.info/application/images/rest_menu.png');
  /*margin-left: 4px;*/
}
.changeResT{
  background-image: url('http://ewaiter.info/application/images/maps.png');
}
.howUse{
  background-image: url('http://ewaiter.info/application/images/how_use.png')
}
.whereRest{
  background-image: url('http://ewaiter.info/application/images/maps.png');
}
.menuRest:nth-child(2),.changeResT:nth-child(2),.howUse:nth-child(2),.whereRest:nth-child(2){
  height: 40px;
}
/*Переопределение кнопок выбора*/
.x-button.x-button-pressing, .x-button.x-button-pressed, .x-button-normal.x-button-pressing, .x-button-normal.x-button-pressed, .x-button-round.x-button-pressing, .x-button-round.x-button-pressed, .x-button-small.x-button-pressing, .x-button-small.x-button-pressed, .x-button-back.x-button-pressing, .x-button-back.x-button-pressed, .x-button-forward.x-button-pressing, .x-button-forward.x-button-pressed {
  background: none repeat scroll 0 0 #4abce7;
  box-shadow: none;
}

#leftPanelContainer div{
  padding: 0px !important;
}

#ext-carouselindicator-1{
  display: none;
}

/*Кнопки табов*/
.x-button-label{
  line-height: 2.6em !important;
}