@CHARSET "UTF-8";
.slider_table{
  display: table;
}

.slider_table div.slider_cell{
  width: 300px;
  display: table-cell;
  text-align: center;
}

.slider_table div.slider_cell div.textBox,.slider_table div.slider_cell div.textBoxSmall{
  width: 100%;
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.slider_table div.slider_cell div.textBoxSmall{
  bottom: 24px;
  top: auto;
  font-weight: normal;
  font-size: 14px;
  padding: 0 20px;
}