#mainContainer .x-html
{
  padding: 0px;
}
#restName p
{
  margin: 0px;
  font-size: 14px;
}

#menuGrid{
  padding: 20px 0px 0px 0px;
}

div.frame{
  float: left;
  margin-left: 10px;
  display: table;
  margin-bottom: 10px;
  height: 170px;
  max-height: 170px;
  width: 140px;
  border-radius: 0.3125em;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #DDDDDD;
  color: #333333;
  text-shadow: 0 1px 0 #F3F3F3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

#menuGrid div img{
  border-radius: 0.3125em 0.3125em 0 0;
  width: 100%;
}

#menuGrid div div{
  background: none repeat scroll 0 0 #FFFFFF;
  height: auto;
}

#menuGrid div div:hover{
  background: none repeat scroll 0 0 #EDEDED;
}

#description{
  box-shadow: none !important;
  margin-left: 0px !important;
  text-align: center;
}