/* Main panel background color */
.x-layout-card-item {
    background: none repeat scroll 0 0 #F9F9F9;
}
.x-html, .x-html h1, .x-html h2, .x-html h3, .x-html h4, .x-html h5, .x-html h6 {
    color: #000000;
}

/* Tab active shadow */
.x-tab-active {
    background-color: #dca600 !important;
    box-shadow: 0 -5px 0 0 #8F6C00 inset;
}

/* Tab panel background color */
.x-tab {
    background: none repeat scroll 0 0 #efb400;
    border: 0 none;
    flex-direction: column;
    height: 3.2em;
    padding: 0 1em;
}

.x-button-label, .x-badge {
    color: #004729;
    font-size: 12pt;
}

#title {
  background-color: #6F4C29;
  background-image: url(../images/pivorama_bg_title.png) !important;
  border-bottom: 1px solid #999999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  color: #f7f7f7;
  font-weight: 700;
  text-shadow: 0 1;
}

/* LeftPanel buttons */
#leftPanel{
  margin-top: 40px;
  background-color: #FEF0D9;
}

#iconRest{
  background-image: url('http://ewaiter.info/application/images/pivorama_theme_logo.png');
}

#leftPanel div.x-inner{
  background: none repeat #efefef !important;
}

#leftPanel .x-button{
  font-size: 12px;
  color: #f7f7f7;
  background-color: #efb400 !important;
}

#sliderRightButton{
  background: url('../images/mini-right.png') no-repeat center #efb400 !important;
}

#sliderLeftButton{
  background: url('../images/mini-left.png') no-repeat center #efb400 !important;
}