/*Цвет кнопок левого меню*/
#nav div {
  background-color: #d2202f;
}
/*Логтип компании*/
#nav>:first-child {
  background-image: url('http://ewaiter.info/application/images/bg_all.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  color: black;
  padding: 0px;
}
/*Левое меню*/
.dx-slideout-menu {
  /*background-color: #efefef;*/
}
/*Цвет шрифта кнопок левого меню*/
.dx-navigation-item {
  color: #ffffff;
}
/*Цвет разделительной линии кнопок левого меню*/
#nav div.dx-list-item {
  border-top: 1px solid #f14656;
}
#nav>:first-child div {
  background-color: transparent !important;
}
/*Цвет border названия ресторана*/
#nav>:first-child div div.dx-navigation-item {
  height: 100px;
  background: url('http://ewaiter.info/application/images/dve_palochki_theme_logo.png') no-repeat 6px 2px;
  line-height: 100px;
  padding-left: 110px;
  font-size: 14px;
  white-space: normal;
  margin-top: 10px;
}