#nav>:first-child {
  background-image:
  url('http://ewaiter.info/application/images/default_theme_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 148px;
}

/*Логотип компании*/
#nav>:first-child {
  background-image: url('http://ewaiter.info/application/images/bg_all.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  color: white;
  padding: 0px;
}

/*Цвет border названия ресторана*/
#nav>:first-child div div.dx-navigation-item {
  height: 120px;
  background: url('http://ewaiter.info/application/images/default_theme_logo.png') no-repeat;
  background-position: 4px 12px;
  padding-left: 110px;
  font-size: 14px;
  white-space: normal;
  margin-top: 10px;
  width: 160px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}