<div data-options="dxView : { name: 'home', title: 'Home' } " >
  <div style="padding: 0px 10px 0px 20px;height: 100%;">

  <div id="pivotMenu" data-bind="dxPivot: { dataSource: MMT.items }">
    <div data-options="dxTemplate : { name: 'MMTx' } ">
      <div data-bind="dxList: { dataSource: MMTlist }">
        <div data-options="dxTemplate : { name: 'item' } ">
          <table style="width: 100%;">
            <tr>
              <td style="width: 140px;"><img style="width: 140px;margin: 4px;" data-bind="attr: { src: getImagePath(image) }" /></td>
              <td style="vertical-align: top;">
                <div data-bind="text: menuName" style="white-space: normal;"></div>
                <div data-bind="text: price" style="font-size: 12px;color: red;font-weight: bold;"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>